[Unit]
Description=Gunicorn instance to serve incoming_call
After=network.target

[Service]
User=andy
Group=www-data
WorkingDirectory=/home/andy/pi
ExecStart=/home/andy/.local/bin/gunicorn --workers 2 --bind 0.0.0.0:5001 incoming_call:app gunicorn --access-logfile /home/andy/pi/access.log --error-logfile /home/andy/pi/error.log

[Install]
WantedBy=multi-user.target
